.footer {
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px 30px 12px;
    align-items: center;
  }

  &__bottom {
    padding-top: 20px;

    &-wrap {
      display: flex;
      flex-direction: row;
      border-top: 1px solid #000000;
      padding: 40px 0 20px 0;
      border-radius: 0;
      gap: 84px;

      word-break: break-word;
    }

    &-copyright {
      display: flex;
      flex-direction: row;
      gap: 6px;
    }

    &-text {
      color: var(--secondary-black);
    }

  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 10px;
  }
}

@media (max-width: 576px) {
  .footer__bottom {
    &-copyright {
      padding-left: 12px;
    }
  }
}