:root {
    --primary-white: #FFFFFF;
    --primary-cyan: #0097A9;
    --primary-orange: #FF6A13;

    --secondary-green: #004851;
    --secondary-gray: #888B8D;
    --secondary-black: #2C2A29;
    --secondary-white: #F2F9FA;

    --button-text-color: #FFFFFF;
    --link-background-color: #F7F7F7;
    --modal-background-color: #E0E0E0;
    --admin-background-color: #F0F0F0;

    main {
        flex: 1 1 auto;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    h2 {
        font-size: 36px;
        font-weight: bold;
    }

    h3 {
        font-size: 28px;
        font-weight: bold;
    }
}

html, body {
    height: 100%;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    gap: 80px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}


h1 {
    font-size: 40px;
    font-family: "PT Sans", serif;
    color: var(--secondary-black);
}

h2 {
    font-size: 36px;
    font-family: "PT Sans", serif;
    color: var(--secondary-black);
}